/* @font-face {
    font-family: 'peyda';
    src: url("./../fonts/peyda/Peyda-Medium.ttf");
}
@font-face {
    font-family: 'yekanBakh';
    src: url("./../fonts/yekanBakh/YekanBakhWeb/woff/YekanBakhFaNum-SemiBold.woff");
} */

.title-main::before{
    content: "";
    width: 12px;
    height: 4px;
    border-radius: 2px;
    background-color: #0060ff;
    display: inline-block;
    margin-left: 10px;
    box-shadow: 2px 0 5px rgba(0, 96, 255, .4);
}
.title-main::after{
    content: "";
    width: 12px;
    height: 4px;
    border-radius: 2px;
    background-color: #0060ff;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 2px 0 5px rgba(0, 96, 255, .4);
}
.engine-oil-title::before{
    content: "";
    width: 4px;
    height: 15px;
    border-radius: 2px;
    background-color: #0060ff;
    display: inline-block;
    margin-left: 7px;
    box-shadow: 2px 0 5px rgba(0, 96, 255, .4);
    
}
.mechanical-parts-title::before{
    content: "";
    width: 4px;
    height: 15px;
    border-radius: 2px;
    background-color: #0060ff;
    display: inline-block;
    margin-left: 7px;
    box-shadow: 2px 0 5px rgba(0, 96, 255, .4);
}
.headlight-title::before{
    content: "";
    width: 4px;
    height: 15px;
    border-radius: 2px;
    background-color: #0060ff;
    display: inline-block;
    margin-left: 7px;
    box-shadow: 2px 0 5px rgba(0, 96, 255, .4);
}
.brands-title::before{
    content: "";
    width: 4px;
    height: 15px;
    border-radius: 2px;
    background-color: #0060ff;
    display: inline-block;
    margin-left: 7px;
    box-shadow: 2px 0 5px rgba(0, 96, 255, .4);
}
.random-articles-title::before{
    content: "";
    width: 4px;
    height: 15px;
    border-radius: 2px;
    background-color: #f8a203;
    display: inline-block;
    margin-left: 7px;
    box-shadow: 2px 0 5px rgba(248, 162, 3, .4);
}


@media (max-width: 1200px) {
    .title-main-categories{
        justify-content: start;
    }
    .title-main::before{
        content: "";
        width: 4px;
        height: 15px;
        border-radius: 2px;
        background-color: #0060ff;
        display: inline-block;
        margin-left: 5px;
        box-shadow: 2px 0 5px rgba(0, 96, 255, .4);
    }
    .title-main::after{
        content: "";
        width: 0;
        height: 0;
    }
}
@media (max-width:1150px){
    .mini-box{
        width: 60px;
        height: 60px;
    }
    .mini-box-img{
        width: 40px;
        height: 40px;
    }
    .real-time-footer{
        gap: 20px;
    }
}

@media (max-width:990px){
    .gif-container{
        width: 100%;
    }
    .instant-offers{
        flex-direction: column;
    }
    .mini-box{
        width: 70px;
        height: 70px;
    }
    .mini-box-img{
        width: 45px;
        height: 45px;
    }
    .real-time-footer{
        gap: 20px;
        justify-content: space-around;
    }
    .popular-products-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .viewed-products-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-info-description{
        overflow: hidden;
        /* max-height: 115px; */
    }
    @media (min-width: 770px) {
        .footer-info-description {
            max-height: 115px;
        }
    }
    .footer-middle-container{
        grid-template-columns: 2fr 1fr 1fr;
    }
}

@media (max-width:940px){
    .call-us{
        display: none;
        visibility: hidden;
    }
    .footer-info-bar{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}

@media (max-width:860px){
    .search-box{
        min-width: 340px;
    }
    .product-archive{
        width: 122px;
        font-size: 14px;
        height: 33px;
    }
    .img-banner1{
        display: none;
        visibility: hidden;
        
    }
    .img-banner2{
        display: block;
        visibility: visible;
    }
    .shopping-cart{
        display: none;
        visibility: hidden;
    }
    .header-actions{
        width: 80px;
        height: 30px;
    }
    .logo{
        width: 120px;
    }
    .general-search::placeholder{
        font-size: 15px;
    }
    .story{
        padding: 0 0 20px 20px;
    }
}

@media (max-width:800px) {
    .main-menu{
        gap: 12px;
    }
    .footer-info-bar-title{
        font-size: 14px;
        font-style: normal;
        /* color: rgb(109, 109, 109); */
    }
}
@media (max-width:770px) {
    .banner-container{
        flex-direction: column;
        gap: 2px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .img1{
        border-radius: 20px 20px 0 0;
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        -ms-border-radius: 20px 20px 0 0;
        -o-border-radius: 20px 20px 0 0;
    }
    .img2{
        border-radius: 0 0 20px 20px;
        -webkit-border-radius: 0 0 20px 20px;
        -moz-border-radius: 0 0 20px 20px;
        -ms-border-radius: 0 0 20px 20px;
        -o-border-radius: 0 0 20px 20px;
    }
    .title-discounted-products > img{
        display: none;
        visibility: hidden;
    }
    .popular-products-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .viewed-products-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:690px) {
    .header-top-in-mobile{
        display: block;
        visibility: visible;
    }
    .search-box-in-mobile{
        height: 42px;
        
    }
    .search-box{
        display: none;
        visibility: hidden;
    }
    .icon-bar{
        display: block;
        visibility: visible;
    }
    .navbar{
        display: none;
        visibility: hidden;
    }
    .logo{
        width: 110px;
    }
    .general-search::placeholder{
        font-size: 14px;
    }
    .story{
        padding: 0 0 15px 15px;
    }
    .stories-style{
        width: 66px;
        height: 66px;
        outline: 3px solid oklch(70.7% 0.165 254.624);
        box-shadow: 0 0 10px oklch(70.7% 0.165 254.624);
    }
}
@media (max-width: 575px) {
    .img-gif {
        width: 100%;
        max-width: 528px;
        height: 110px;
    }

    .gif-container {
        width: 100%;
        max-width: 528px;
        height: 110px;
        flex-shrink: 1;
    }
    .desktop-banner{
        display: none;
        visibility: hidden;
    }
    .mobile-banner{
        display: block;
        visibility: visible;
    }
}
@media (max-width:478px){
    .footer-info-bar-mobile{
        visibility: visible;
        display: block;
    }
    .footer-info-bar{
        visibility: hidden;
        display: none;
    }
}

@media (max-width:450px) {
    .logo{
        width: 104px;
    }
    .stories-style{
        width: 65px;
        height: 65px;
    }
    .story{
        padding: 0 0 10px 10px;
    }
    .stories-text{
        font-size: 13px;
    }
    .open-stories{
        position: absolute;
        inset: 0;
        width: 100vw;
        height: 100vh;
    }
    .video-story, .img-story{
        height: 100vh;
        width: 100vw;
    }
    .real-time-main{
        height: 90px;
    }
    .engine-oil-container{
        padding: 20px;
    }
    .oil-star-text{
        font-size: 13px;
    }
    .oil-star{
        font-size: 10px;
    }
}
@media (max-width:430px) {
    .oil-more-elem{
        font-size: 10px;
        padding-right: 6px;
        padding-left: 4px;
        margin-right: 4px;
    }
    .engine-oil-title{
        font-size: 13px;
        padding-left: 4px;
        padding-right: 2px;
    }

}





body{
    /* font-family: "peyda"; */
}
/* .sub-menu{
    font-family: "yekanBakh";
    font-size: 14px;
    cursor: pointer;
} */
.real-time-main::before{
    content: "";
    top:40%;
    right: 0;
    width: 4px;
    height: 25px;
    border-radius: 2px;
    background-color: oklch(76.9% 0.188 70.08);
    display: inline-block;
    box-shadow: 0px 0 5px oklch(90% 0.189 84.429) !important;
    position: absolute;
}


.real-time-main .main-img {
    border-radius: 20px;
    transition: border-radius 300ms ease-in-out;
    -webkit-transition: border-radius 300ms ease-in-out;
    -moz-transition: border-radius 300ms ease-in-out;
    -ms-transition: border-radius 300ms ease-in-out;
    -o-transition: border-radius 300ms ease-in-out;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.real-time-main:hover .main-img {
    border-radius: 100%;
}
.mini-box:hover{
    border-radius: 100%;
}
.mini-box{
    border-radius: 20px;
    transition: border-radius 300ms ease-in-out;
    -webkit-transition: border-radius 300ms ease-in-out;
    -moz-transition: border-radius 300ms ease-in-out;
    -ms-transition: border-radius 300ms ease-in-out;
    -o-transition: border-radius 300ms ease-in-out;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


