@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@utility scrollbar-hide {
    scroll-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

@layer components{
    .display-flex{
        @apply flex justify-center items-center text-center;
    }
    .border-gray{
        @apply border-l-1 border-gray-300 border-dashed dark:border-gray-600 h-[15px];
    }
    .hover-sub-menu{
        @apply hover:text-blue-700 hover:text-[14.5px] hover:-translate-x-1 transition-transform duration-300  w-[200px] text-start py-2;
    };

    .sub-menu-style{
        @apply absolute bg-white dark:bg-[#353542] -top-6 right-full w-[220px] hidden translate-y-1 mr-2 transition-transform duration-200 flex-col items-start p-5 rounded-2xl shadow-xl;
    };
    .sub-menu-style::before{
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        width: 20px;
        height: 100%;
    };

    .stories-style{
        @apply size-[70px] rounded-full border-3 border-white outline-4 outline-blue-400 shadow-lg shadow-blue-400 dark:shadow-blue-900 dark:outline-blue-700 dark:shadow-lg dark:border-black cursor-pointer;
    }
    .stories-box{
        @apply px-3.5 shrink-0 flex flex-col items-center;
    }
    .stories-text{
        @apply mt-3 text-[14px] text-gray-600 dark:text-white;
    }
    .open-hamburger-menu{
        @apply bg-black text-white rounded-t-xl rounded-br-xl rounded-bl;
    }
    .close-hamburger-menu{
        @apply bg-white rounded-xl dark:bg-[#353542];
    }
    .arrow-story-btn{
        @apply absolute bg-white h-[45px] rounded-lg cursor-pointer shadow-2xl shadow-gray-400 mr-1 w-[25px];
    }
    .progress-bar-style{
        @apply h-[2.5px] rounded-2xl flex-1 bg-white/40;
    }
    .active-pagination {
        @apply !bg-white !w-4 !h-1.5 !rounded-sm !opacity-100 !m-0 transition-all duration-500;
    }

    .not-active-pagination {
        @apply !bg-black/25 !w-1.5 !h-1.5 !opacity-100 !m-0 transition-all duration-500;
    }
    .swiper-pagination-bullet {
        @apply !opacity-100;
    }

    .main-categories-box {
        @apply bg-white size-[130px] text-[13px] rounded-2xl flex-col gap-2 text-gray-700 cursor-pointer p-1.5 dark:text-white dark:bg-[#353542];
    }
    .main-categories-pagination .swiper-pagination-bullet {
        @apply w-2 h-2 bg-gray-300 opacity-100;
    }

    .main-categories-pagination .swiper-pagination-bullet-active {
        @apply bg-black;
    }

    .active-pagination-product {
        @apply !bg-blue-600 !w-4 !h-1.5 !rounded-full !opacity-100 !m-0 transition-all duration-500;
    }

    .not-active-pagination-product {
        @apply !bg-black/25 !w-1.5 !h-1.5 !rounded-full !opacity-100 !m-0 transition-all duration-500;
    }
}


@keyframes gifFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.gif-fade {
    animation: gifFade 0.5s ease-in-out;
    -webkit-animation: gifFade 0.5s ease-in-out;
}